.page-wrap {
  display: grid;
  height: 100%;
  padding: 20px;
  justify-items: center;
  grid-template-rows: max-content 1fr max-content;
  grid-gap: 15px;
  overflow: auto;

  .title {
    font-weight: 500;
    font-size: 18px;
    align-self: start;
  }

  .card-list {
    display: grid;
    width: 100%;
    grid-row-gap: 10px;
    align-content: start;

    .card {
      display: grid;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      padding: 5px;
      grid-template-columns: 1fr 20px;

      &__title {

      }

      &__content {

      }

      &__btn-edit {

      }

      &__btn-delete {
        cursor: pointer;
      }

      &__btn-open {

      }


    }
  }

  .footer {
    display: grid;
    align-self: end;
    width: 100%;

    .add-btn {
    }
  }

}
