
// core
@import "core/global";

html, body {
  color: black;
  height: 100%;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
}

* {
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  outline: none;
}
