
// core
@import "core/global";
@import "core/page";

html, body {
  color: black;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

* {
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  outline: none;
  text-decoration: none;
}

a {
  color: black;
  &:hover {
    color: #1c37d0;
  }
}
