<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="sign-in">
  <mat-form-field class="sign-in__nickname-input" appearance="outline">
    <mat-label>
      {{ 'Login' | translate }}
    </mat-label>
    <label>
      <input formControlName="login" matInput type="text" placeholder="{{ 'Login' | translate }}">
    </label>
  </mat-form-field>
  <mat-form-field class="sign-in__email-input" appearance="outline">
    <mat-label>
      {{ 'Email' | translate }}
    </mat-label>
    <label>
      <input formControlName="email" matInput type="email" placeholder="{{ 'Email' | translate }}">
    </label>
  </mat-form-field>
  <mat-form-field class="sign-in__password-input" appearance="outline">
    <mat-label>
      {{ 'Password' | translate }}
    </mat-label>
    <label>
      <input formControlName="password" matInput type="password" placeholder="{{ 'Password' | translate }}">
    </label>
  </mat-form-field>
  <app-loader-btn class="sign-in__submit-btn" type="submit" value="{{ 'Sign up' | translate }}" color="primary"></app-loader-btn>
</form>
