<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" opened>
    <div class="sidenav">
      <header class="header">
        <nav class="nav">
          <img src="/assets/images/logo.png" alt="logo" routerLink="./" class="img">
          <ul>
            <li><a routerLink="./seasons" routerLinkActive="active">Seasons</a></li>
            <li><a routerLink="./fields" routerLinkActive="active">Fields</a></li>
            <li><a routerLink="./notes" routerLinkActive="active">Notes</a></li>
            <li><a routerLink="./sensors" routerLinkActive="active">Sensors</a></li>
          </ul>
        </nav>
      </header>
      <footer class="footer">
        <a routerLink="./statistics" routerLinkActive="active" class="statistics">Go to statistics</a>
        <app-switch-language-button></app-switch-language-button>
        <button mat-raised-button color="primary" class="logout" (click)="authService.logOut()">Logout</button>
      </footer>
    </div>
  </mat-drawer>

  <main class="sidenav-content">
    <div class="route-wrap">
      <router-outlet></router-outlet>
    </div>
    <div leaflet style="height: 100%; width: 100%; margin: 0; padding: 0;"
         leafletDraw
         [leafletOptions]="options"
         [leafletDrawOptions]="drawOptions"
         (leafletDrawCreated)="onDrawCreated($event)"
         (leafletDrawStart)="onDrawStart($event)"
         (leafletMapReady)="onMapReady($event)"
         id="map">

      <!-- Add the drawnItems featureGroup to the map -->
      <div [leafletLayer]="drawnItems"></div>

    </div>

  </main>

</mat-drawer-container>
