<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="sign-in">
  <mat-form-field class="sign-in__email-input" appearance="outline">
    <mat-label>
      {{ 'Email' | translate }}
    </mat-label>
    <label>
      <input formControlName="email" matInput type="email" placeholder="{{ 'Email' | translate }}">
    </label>
  </mat-form-field>
  <mat-form-field class="sign-in__password-input" appearance="outline">
    <mat-label>
      {{ 'Password' | translate }}
    </mat-label>
    <label>
      <input formControlName="password" matInput type="password" placeholder="{{ 'Password' | translate }}">
    </label>
  </mat-form-field>
  <app-loader-btn class="sign-in__submit-btn" type="submit" value="{{ 'Sign in' | translate }}" color="primary"></app-loader-btn>
  <div class="warning" *ngIf="warning">
    <img src="./assets/icons/warning.svg" alt="warning" class="warning-img">
    <span class="error-text">
      {{ 'Email or password incorrect' | translate }}
    </span>
  </div>
</form>
<div class="forgot-password pointer">
  {{ 'Forgot password' | translate }}?
</div>
