.sign-in {
  display: grid;
  padding: 20px;

  .error {
    display: grid;
    grid-template-columns: 20px auto;
    grid-gap: 5px;
    color: #D93025;
    margin: 5px 0 0 0;

    .warning-img {
      height: 20px;
      width: 20px;
    }
  }
}

.forgot-password {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  color: #3F51B5;
}
